.all-projects {
    /* margin: 0.5em 0px 40px; */
    /* padding: 0px 0.5em; */
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   min-width: 77rem;
   max-width: 77rem;
}

.search-info {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}

.projects-holder {
    display: flex;
    flex-direction: column;
    border: solid lightgray 1px;
    height: 35rem;
    margin-bottom: 5rem;
    overflow: hidden;
}

.preview-image {
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center center;
    height: 10rem;
    margin-bottom: 1em;
    width: 20em;
    padding: 25px;
    object-fit: cover;
    /* width: 80%;
    height: 80%; */
    /* object-fit: fill;
    display: inline-block;
    position: relative;
    overflow:hidden; */
}


.project-details {
    margin-bottom: 3em;
    /* max-width: 18rem; */
    padding-left: 1.5rem;
    width: 20rem;
    /* border: red solid 1px; */
}

.project-details-top {
    display: flex;
   justify-content: space-between;
   margin-bottom: 1em;
}

.searchbar-holder {
    width: 100% ;
    height: 2rem;
    display: flex;
    justify-content: row;
}

.searchbar-input {
    width: 100%;
    padding-left: 2rem;
    height: 2rem;
    border: 0;
}

.searchbar-input:focus {
    outline: none;
}

.searchbar-exit {
    width: 10%
}

.whole-searchbar {
    width: 100%;
    margin-top: 0px;
}

.search-not-found> img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid red 1px;
}

.search-body {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.search-headline-holder {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.search-none {
    color: rgb(238, 61, 61);
    font-size: 1.2rem;
}

.search-explore-text {
    font-size: 1.5rem;
}

.search-explore-p {
    font-weight: bold;
    font-size: 1.6rem;
    color: #028858;
}

.search-progressbar-container {
    max-width: 100%;
}