/* TODO Add site wide styles */
html, input, textarea, select, a {
  font-family: 'Lucida Sans Regular', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid 1px; */
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  color: rgb(31, 31, 31)
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: red solid 1px; */
  margin: 0px;
}

.hidden {
  display: none
}

/* .root {
  display: flex;
  justify-content: center;
  align-items: center;
} */

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
  color: rgb(22, 155, 89);
}

button {
  font-family: 'Lucida Sans Regular', sans-serif;
}

#do-not-interact {
  color: gray;
}

#do-not-interact:hover {
  cursor: not-allowed;
  text-decoration: none;
}